<div class="content" data-swiftype-index="false">
  <div class="row copyright-message align-right" id="footer">
    <div class="row sg-pagination">
      <div class="block span1of2 small-span1of2--> align-left">
        {%- if previous_page -%}
        <a class="sg-pagination_link" href="{{ previous_page.url }}">
          <p class="sg-pagination_label">Previous</p>
          <h2 class="sg-pagination_title">{{ previous_page.title }}</h2>
        </a>
        {%- endif -%}
      </div>
      <div class="block align-right">
        {%- if next_page -%}
        <a class="sg-pagination_link" href="{{ next_page.url }}">
          <p class="sg-pagination_label">Next</p>
          <h2 class="sg-pagination_title">{{ next_page.title }}</h2>
        </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
<!-- 
<div id="sg-search">
  <div class="content center wrapper">
    <div class="col span3of4 align-left ptb12">
      <form class="pb3 search-form form-inline form-friendly" id="search-page-form"><input class="form-input"
          id="sg-search_input" name="q" placeholder="Search Mailchimp Content Style Guide" type="text"><button
          class="form-button ghost icon-search"><span class="hide">Search</span></button></form>
      <div class="row" id="sg-results_summary"></div>
      <div id="sg-results_container"></div>
    </div>
  </div>
</div>
-->
