{%- assign current_page = site.data.menus.navigation | where: 'url', page.url | first -%}
{%- assign previous_weight = current_page.weight | minus: 1 -%}
{%- assign next_weight = current_page.weight | plus: 1 -%}
{%- assign previous_page = site.data.menus.navigation | where: 'weight', previous_weight | first -%}
{%- assign next_page = site.data.menus.navigation | where: 'weight', next_weight | first -%}
<!DOCTYPE html>
<html id='page-home' role='document'>
{% include head.html %}
<body>
  <div id='site-header-shim'></div>
  <div data-swiftype-index='false' id='site-header'>
    <div class='content align-center'>
      <header class='sg-header'>
        <a class='sg-menu_btn' href='#'></a>
        <a class='sg-logo' href='/'>
          <img class='sg-logo_img' src='/assets/img/freddie-mono-35c744b1.svg'><h1 class='sg-logo_title'>Mailchimp Content Style&nbsp;Guide</h1>
        </a>
      </header>
    </div>
  </div>
  <div class='wrapper hide_overflow-x'>
    <div class='content fixed_item-container'>
      {% include navigation.html %}
      <section class='col top sg-article ptb8' role='main'>
        <article class='section'>
          <h1 class="title mb8" id="header-1-welcome-to-the-mailchimp-content-style-guide">{{ page.title }}</h1>
          <div class="normalize">
            {{ content }}
          </div>
        </article>
      </section>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
